<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowNewUserTour" value="true" />
    <add key="DefaultCultureName" value="zh-CN" />
    <add key="RecentFilesFileName" value="recent-files.json" />
    <add key="TourSeenFileName" value="new-user-tour.seen" />
    <add key="UserDataDirectory" value="" />
    <add key="MaxRecentFiles" value="12" />
    <add key="MaxHistorySteps" value="80" />
  </appSettings>
</configuration>
